<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wifi in deiner Nähe</ion-title>

    <ion-buttons margin-right end>
      <button ion-button (click)="retrieveLocation()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Die nächsten Stuttgarter Wifi Spots in deiner Nähe sind...</p>

  <p *ngIf="!location">
    Dein Standort ist nicht bekannt, sorry!
  </p>

  <ion-list>
    <ion-card *ngFor="let wifiLocation of wifiLocations | values">
      <ion-card-content>
        <ion-card-title>{{wifiLocation.details.name}}</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
